{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mallipamu Ramasuresh </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Mallipamu Ramasuresh. Currently Pursuing Bachelors in
                    Informatio Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ramsureshmallipamu@gmail.com'><img
                        src="https://i.ibb.co/jGDZRNJ/mail-box.png" height="40" width="40"></a> :
                        ramsureshmallipamu@gmail.com<br><br>
                <!--<a target="_blank" href='manthan-bhikadiya.medium.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : manthan-bhikadiya<br><br>-->
                <a target="_blank" href=''><img
                        src="https://i.ibb.co/p2CDP3p/phone-call.png" height="40" width="40"></a> :+91 9505933017<br><br>
                <a target="_blank" href='https://www.linkedin.com'>
                <img src="https://i.ibb.co/0KB1VpG/linkedin.png" height="40" width="40"></a> :
                Rama Suresh Mallipamu <br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Gadamsetti Manikanta</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Gadamsetti Manikanta. Currently Pursuing Bachelors in
                    Informatio Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:gadamsettimanikanta888@gmail.com'><img
                        src="https://i.ibb.co/jGDZRNJ/mail-box.png" height="40" width="40"></a> :
                        gadamsettimanikanta888@gmail.com<br><br>
                <a target="_blank" href=''><img
                        src="https://i.ibb.co/p2CDP3p/phone-call.png" height="44" width="44"></a> :
                +91 9391109151<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/gadamsetti-manikanta-72021a260/'><img
                        src="https://i.ibb.co/0KB1VpG/linkedin.png" height="40" width="40"></a> :
                        Gadamsetti Manikanta<br>
            </div>
        </div>
    </div>
</div>
<center>
    <div id="google_translate_element"></div>
  </center>
<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% endblock body %}